<!DOCTYPE html>
<html>

<head>
  <title>Pedidos por enviar</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex">



  <div class="m-5 uppercase text-bold">
    Envio de Pedidos
  </div>
  <div class="m-5 capitalize">
    Fecha: <%= date %>
  </div>

  <table class="w-full table-auto mb-5">
    <thead class="shadow mt-10 w-lg">
      <tr class="text-center">
        <th class="border border-gray-500 py-2">Nº</th>
        <th class="border border-gray-500 py-2">Cliente</th>
        <th class="border border-gray-500 py-2">Pedido</th>
        <th class="border border-gray-500 py-2">Direccion</th>
      </tr>
    </thead>

    <tbody>
      <% pedidos.forEach((pedido,index)=> { %>
        <tr class="text-center">
          <td class="border border-gray-500 px-4 py-2">
            <%= index + 1 %>
          </td>
          <td class="border border-gray-500 px-4 py-2 lowercase">
            <%= pedido.cliente.nombre %>
          </td>
          <td class="border border-gray-500 px-4 py-2 lowercase">
            <%= pedido._id %>
          </td>
          <td class="border border-gray-500 px-4 py-2">
            <%= pedido.direccion %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>


  <div class="mb-10">
    <p class="font-bold mx-2 my2 text-xl break-words uppercase">
      Cantidad:
      <span class="text-base">
        <%= cantidad %>
      </span>
    </p>
  </div>


  <div class="p-5 bg-gray-300">
    <div class="divide-y divide-rose-400">
      <p>___________________________</p>
      <span>Responsable de Bodega</span>
    </div>
  </div>
  <div class="p-5 bg-gray-300">
    <div class="divide-y divide-rose-400">
      <p>___________________________</p>
      <span>Responsable de Gerencia</span>
    </div>
  </div>

</body>

</html>